{% extends 'main.html' %} {% load static %} {% block content %} 
{% if page == 'register' %}
<div class="auth">
  <div class="uk-container uk-position-center">
    <div class="uk-flex">
      <img src="{% static 'images/logo.png' %}" width="45%" />
      <div class="uk-align-right uk-card uk-card-default uk-card-body">
        <div>
          <h3 class="uk-heading-small">Register an Account</h3>
        </div>
        <form
          class="uk-form uk-form-stacked"
          method="POST"
          action="{% url 'register' %}"
        >
          {% csrf_token %} {% for field in form %}
          <div class="uk-margin">
            <label class="uk-form-label">{{field.label}}</label>
            <div class="uk-form-controls">{{field}}</div>
            {% if field.help_text %}
            <small>{{field.help_text}}</small>
            {% endif %} {% for error in field.errors %}
            <p style="color: red">{{error}}</p>
            {% endfor %}
          </div>
          {% endfor %}
          <br />
          <input
            class="uk-button uk-button-primary"
            type="submit"
            value="Sign Up"
          />
        </form>
        <div class="uk-margin">
          <p>Already have an Account?</p>
          <a class="uk-button uk-button-secondary" href="{% url 'login' %}"
            >Log In</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="auth">
  <div class="uk-container uk-position-center">
    <div class="uk-flex">
      <img src="{% static 'images/logo.png' %}" width="40%" />
      <div class="uk-align-right uk-card uk-card-default uk-card-body">
        <form class="uk-form uk-padding" action="" method="POST">
          {% csrf_token %}
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input
                class="uk-input uk-form-width-large"
                name="username"
                type="text"
                placeholder="Username"
              />
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline">
              <span
                class="uk-form-icon uk-form-icon-flip"
                uk-icon="icon: lock"
              ></span>
              <input
                class="uk-input uk-form-width-large"
                name="password"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="uk-margin">
            <input
              class="uk-button uk-button-primary"
              type="submit"
              value="Log In"
            />
            <a class="uk-align-right" href="{% url 'reset_password' %}"
              >Forget Password?</a
            >
          </div>
        </form>
        <div class="uk-margin">
          <p>Don’t have an Account?</p>
          <div>
            <a href="{% url 'register' %}">
              <input
                class="uk-align-center uk-button uk-button-secondary"
                type="submit"
                value="Create New Account"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
