{% extends 'main.html' %} {% block content %} {% include 'navbar.html' %}
<div class="uk-container">
  <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card">
      <img src="{{profile.profile_image.url}}" width="400" height="400" />
    </div>
    <div>
      <div class="uk-card-body">
        <h1 class="uk-heading uk-card-title">{{profile.name}}</h1>
        <p>Username: {{profile.username}}</p>
        <p>Email Address: {{profile.email}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
